@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
*{
    font-family: "Cairo" , sans-serif ;    
}
.container-custome {
   margin: auto 5% ;
 
}
.nav-style {
    background-color: #fff;
}

.logo-size{
    font-size: 2rem;
    font-weight: bold;
}
.font-size {
    font-size: 1.1rem !important;
}
.logo-span {
    color: #FEA930;
}
.btn-custome {
    padding: 10px 30px !important;
    border-radius: 20px !important;
}

.list-items {
   
    margin: auto px;
    padding: 15px 20px !important;
    
}
.list-items:nth-child(1){
    margin-left: 90px;
}
.right-div {
    margin-left:150px;
}
.right-div .inside-margin {
    margin-left: 10px;
}
.hover-items:hover {
    background-color: #FEA930;
    transition: .8s;
}

.animation {
    animation: move 1s  ease-in-out;
}
@keyframes move {
    0% {
        top: -200px;
    }
    50% {
        top: 50px;
    }
    100%{
        top: 0;
    }
}