@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

*{
    font-family: "Cairo" , sans-serif ;    
}
.container2 {
   
    margin: auto  3%  !important;  
    margin-bottom: 300px !important;
}
.container2 .col1 {
    padding: 20px 80px;
}
.container2 .col .shape {
    background-color:#FEA930 ;
    padding: 20px 30px;
    border-radius: 50%;
    position: relative;
    top: 30px; 
    left: 90px; 
    z-index: 1;
}
.container2 .col .title {
    font-size: 1.8rem;
    font-weight: bold;
    position: relative;
    z-index: 1000;
}
.container2 .col .descreption {
    font-size: 1.8rem;
    color: #afafaf;
    font-weight: bold;
    padding: 40px;
}